---
title: Additional resources for Tanzu Build Service
owner: Build Service Team
---

## <a id='concourse-kpack-resource'></a> Concourse Kpack resource

The [Concourse Kpack resource](https://github.com/vmware-tanzu/concourse-kpack-resource) helps in the integration of Kpack in a Concourse based CI/CD pipeline.
This Concourse resource is capable of triggering Image builds based on a commit SHA.
The [Git repo](https://github.com/vmware-tanzu/concourse-kpack-resource) for the Concourse Kpack resource provides guidance on usage within a pipeline.

<p class="note"><strong>Note:</strong> The Kpack Image must be created within a TBS cluster before referring to it within a pipeline using the Concourse Kpack resource</p>

<p class="note"><strong>Note:</strong> The Concourse Kpack resource currently only supports GKE and TKGI clusters</p>

## Helpful Articles

- [Getting Started with VMware Tanzu Build Service 1.0](https://tanzu.vmware.com/content/blog/getting-started-with-vmware-tanzu-build-service-1-0)

    (September 03, 2020 - Tony Vetter)

    This covers installation of Tanzu Build Service on local Kubernetes cluster (using Docker Desktop) and demonstrates the auto build of app images for Code and OS updates.

- [VMware Tanzu Build Service, a Kubernetes-Native Way to Build Containers, Is Now GA](https://tanzu.vmware.com/content/blog/vmware-tanzu-build-service-a-kubernetes-native-way-to-build-containers-is-now-generally-available)

    (September 03, 2020 - Brad Bock)

    A big picture overview of Tanzu Build Service, integration with CI/CD and links on getting started.

## Helpful Videos

- [Introduction to Tanzu Build Service 1.0](https://www.youtube.com/watch?v=IMmUjUjBzes&ab_channel=VMwareTanzu)

    (September 22, 2020 - Tony Vetter)

    This covers the different components of TBS, the benefits it offers, and a demo of how TBS can auto update your application images for different reasons - Code update, Config change or Stack update.

## Helpful Repositories

- kpdemo - https://github.com/matthewmcnew/kpdemo

    A tool to visualize and demo kpack.

    Demos include auto Image creation for Stack and Buildpack updates.