## <a id="1-1-0"></a> v1.1.0

**Release Date: February 05, 2021**

**1.1.0** represents the second minor GA release of Tanzu Build Service.

This release includes a few notable new features:

* Windows .NET Framework images can be built on clusters with windows nodes.
* Image resources can be configured to sign images with Notary.
* The kp cli can upgrade the version of the lifecycle.
* Improved logging for Image builds
    * Display Build reason change diff
    * Log fetching source
    * More descriptive errors

This release includes the 0.2.0 release of kpack.

* Image resources can be configured to sign images with Notary.
* Build logs will display a diff explaining why the build was scheduled.
* The lifecycle used by kpack can be updated without a controller restart.

This release includes the 0.2.0 release of kpack-cli

- kp import supports v1alpha3 descriptors
- kpack lifecycle image can be updated.
- `kp import` will wait for relevant resources to resolve before exiting.
- `kp image list` Image list can be filtered.

### Product Snapshot

Tanzu Build Service 1.0.4 ships with the following components:

* [kpack 0.2.0](https://github.com/pivotal/kpack/releases/tag/v0.2.0)
* [kpack cli v0.2.0](https://github.com/vmware-tanzu/kpack-cli/releases/tag/v0.2.0)
* [CNB lifecycle v0.10.2](https://github.com/buildpacks/lifecycle/releases/tag/v0.10.2)
* [Stacks Operator v0.0.3]

Tanzu Build Service supports and utilizes [Tanzu Buildpacks](https://docs.pivotal.io/tanzu-buildpacks).

### Product Dependencies

Build Service can be installed on any Kubernetes cluster (v1.16 or later).

### Upgrade Path

v1.0.* can be upgraded to v1.1.0. Please follow the [install](installing.html) process to upgrade.
